*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .navbar{
  background-color: #15171a;
  height: 70px;
} */
.navbar .nav-item .nav-link{
  color: #fff;
}
.headerMain{
  background-image: url('https://cdn.pixabay.com/photo/2017/03/29/15/18/tianjin-2185510_960_720.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  background-position: center center;
}
.headerMain::before{
  content: '';
  position: absolute;
  background-color: #000;
  top: 0;
  bottom: 0;
  height: 30vh;
  left: 0;
  right: 0;
  opacity: 0.5;
}
.sobre-mi{
  display: flex;
  justify-content: center;
  margin: 20px 20px;
}
.centrar{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card{
  width: 18rem !important;
}
.card-title {
  font-size: 18px;
  text-transform: capitalize;
}
.header{
  text-transform: capitalize;
  color: #fff;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.justificado{
  text-align: justify;
}
.modal-title, .modal-nombre{
  text-transform: capitalize;
}
.sobre-mi-centrado{
  margin-bottom: 20px;
}